/****************************
  GENERAL
****************************/

/* move down content for fixed navbar */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

blockquote {
  font-size: 14px;
}

cite {
  font-style: italic;
}

.pull-left {
  padding-right: 20px;
}

.pull-right {
  padding-left: 20px;
}

.img-responsive {
  margin: 0 auto 10px;
}

.inactive {
  background-color: #eee;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

/****************************
  NOMINATION FORM
****************************/
#vote {
  width: 410px;
  height: 2400px;
  overflow: hidden;
}

#scale {
  margin-bottom: 0;
}

#nominations h4 {
  margin: 2px 0;
}

#nominations hr {
  margin-top: 5px;
  margin-bottom: 10px;
}

/****************************
  MEMBERS PAGE
****************************/

.members-img {
  width: 170px;
  margin: 0 5px 10px;
  border-radius: 100%;
}

/****************************
  CURRENTLY READING
****************************/

.book-panel {
  padding: 10px 0 0 0;
}

.book-panel a:hover {
  text-decoration: none !important;
}

.book-icons {
  text-align: center;
}

.book-icons .whitecover {
  border: 1px solid #eee;
}

.book-icons span {
  color: #000;
  margin: 0 5px 0;
}

.book-info h4:first-child {
  margin-top: 0;
}

.book-info a {
  margin: 0 10px 0 0;
}

.book-info span {
  margin: 0 10px 0 0;
  padding: 0;
}

.book-info ul {
  list-style: none;
  padding-left: 10px;
}

.book-info img {
  width: 170px;
}

.resources {
  list-style: none;
  padding-left: 0;
}

.resources li {
  padding-bottom: 5px;
}

.resources span {
  padding-right: 15px;
  position: relative;
  top: 5px;
}

.resources hr {
  margin: 5px 0;
}

/****************************
  DISCUSSION GUIDE
****************************/
.discussion-leader {
  text-align: center;
  margin-bottom: 20px;
}

/****************************
  SUMMARY GUIDE
****************************/
.participant {
  width: 100px;
  margin: 0 5px 10px;
  border-radius: 100%;
}



/****************************
  Row with equal height columns
****************************/
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

@media (min-width: 992px) {
  .col-md-4 > .panel > .panel-body {
    min-height: 290px;
  }
}
