/****************************
  GENERAL
****************************/

/* move down content for fixed navbar */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

cite {
  font-style: italic;
}

.pull-left {
  padding-right: 20px;
}

.pull-right {
  padding-left: 20px;
}

.img-responsive {
  margin: 0 auto 10px;
}

/****************************
  NOMINATION FORM
****************************/
iframe {
  height: 430px;
  overflow: hidden;
  width: 760px;
  margin: 0;
  padding: 0;
  border: none;
}

#vote {
  width: 520px;
  height: 4550px;
  overflow: hidden;
}

#vote-well {
  /*position: fixed;*/
}

/****************************
  MEMBERS PAGE
****************************/

.members-heading {
  margin-top: 0;
}

/****************************
  CURRENTLY READING
****************************/

.book-panel {
  padding: 10px 0;
}

.book-panel a:hover {
  text-decoration: none !important;
}

.book-icons {
  text-align: center;
}

.book-icons .whitecover {
  border: 1px solid #eee;
}

.book-icons span {
  color: #000;
  margin: 0 15px 0;
}

.book-info h4:first-child {
  margin-top: 0;
}

.book-info blockquote {
  font-size: 14px;
}

.book-info a {
  margin: 0 10px 0 0;
}

.book-info span {
  margin: 0 10px 0 0;
  padding: 0;
}

.book-info ul {
  list-style: none;
  padding-left: 10px;
}

.book-info img {
  width: 170px;
}

/****************************
  DISCUSSION GUIDE
****************************/
.discussion-leader {
  text-align: center;
  margin-bottom: 20px;
}

/****************************
  Row with equal height columns
****************************/
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

@media (min-width: 992px) {
  .col-md-4 > .panel > .panel-body {
    min-height: 290px;
  }
}
