/* move down content for fixed navbar */

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

cite {
  font-style: italic;
}

.currently-reading {
  padding-right: 40px;
}

.members-heading {
  margin-top: 0;
}

/*
* Row with equal height columns
* --------------------------------------------------
*/
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
