---
layout: default
title: Home
---

<!-- jumbotron -->
<div class="jumbotron">
  <div class="container">
    <h1>Welcome!</h1>
    <p>The official site of the Ad Hoc Book Club! Friends, pseudo-friends, INTJ dominance, potpourri of books, quotes and enlightening discussions! :)</p>
    <p class="text-info">This site is still under construction&mdash;please excuse us for the blank pages!</p>
  </div>
</div>

<div class="container">
  {% for post in site.posts %}
    {% if post.category == 'announcement' %}
      {% capture modulo %}{{ forloop.index0 | modulo: 3 }}{% endcapture %}
        {% if modulo == '0' or forloop.first %}
        <div class="row">
          {% endif %}
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <h2><a href="{{ post.url }}">{{ post.title }}</a><br/><small>{{ post.date | date_to_string }}</small></h2>
                {% if post.content contains '<!--more-->' %}
                  {{ post.content | split:'<!--more-->' | first }}
                {% else %}
                  {{ post.content }}
                {% endif %}
                <a href="{{ post.url }}" class="btn btn-default pull-right">Read More &raquo;</a>
              </div>
            </div>
          </div>
          {% if modulo == '2' or forloop.last %}
        </div>
      {% endif %}
    {% endif %}
  {% endfor %}
</div>

<div class="container">
  <h2><span class="label label-success">Currently Reading</span></h2>
  <h2>Lord of Light <small>Roger Zelazny</small></h2>
  <div class="row book-panel">
    <div class="col-md-2">
      <div class="book-icons">
        <img src="https://d.gr-assets.com/books/1330127327l/13821.jpg" class="img-responsive" alt="Lord of Light">
        <a href="https://www.goodreads.com/book/show/13821.Lord_of_Light" target="_blank"><span class="flaticon-goodreads"></span></a>
        <a href="http://amzn.to/1vuXVvb" target="_blank"><span class="flaticon-amazon1"></span></a>
      </div>
    </div>
    <div class="col-md-7 book-info">
      <h3>Synopsis</h3>
      <p>Earth is long since dead. On a colony planet, a band of men has gained control of technology, made themselves immortal, and now rules their world as the gods of the Hindu pantheon. Only one dares oppose them: he who was once Siddhartha and is now Mahasamatman. Binder of Demons. Lord of Light.</p>
      <h3>Resources</h3>
      <ul>
        <li><span class="flaticon-speech55"></span><a href="/books/lord-of-light/discussion-guide">Discussion Guide</a></li>
        <li><span class="flaticon-speech55"></span>Discussion Summary <p class="label label-default inline-block">Coming Soon</p></li>
      </ul>
    </div>
    <div class="col-md-3 book-info text-center">
      <h3>Discussion Leader</h3>
      <img src="/img/members/jacky.jpg" width="170" class="img-responsive img-circle" alt="Jacky Cheng">
      <p>Jacky Cheng</p>
    </div>
  </div>
</div>

<script>
  var elements = document.getElementsByClassName('excerpt-img');
  for (var i = 0, length = elements.length; i < length; i++) {
    elements[i].style.display = "none";
  }
</script>
